<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.dragontalker.AddServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SquareServlet</servlet-name>
		<servlet-class>com.dragontalker.SquareServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SquareServlet</servlet-name>
		<url-pattern>/square</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>name</param-name>
		<param-value>myName</param-value>
	</context-param>
	
	<context-param>
		<param-name>phone</param-name>
		<param-value>myPhone</param-value>
	</context-param>

</web-app>